#note-body #editor {
  font-size: 130% !important;
}
#note-body #editor p b, #note-body #editor blockquote b, #note-body #editor .ql-checklist b, #note-body #editor p strong, #note-body #editor blockquote strong, #note-body #editor .ql-checklist strong {
  font-weight: 500;
}
#note-body #editor blockquote {
  font-weight: 300;
}
#note-body #editor blockquote + p {
  margin-top: 0.5rem;
}
#note-body #editor > div h1 {
  font-size: 1.3rem;
}
#note-body #editor > div h1, #note-body #editor > div h2, #note-body #editor > div h3, #note-body #editor > div h4, #note-body #editor > div h5, #note-body #editor > div h6 {
  margin-bottom: 0;
}
#note-body #editor > div p {
  margin-bottom: -0.2rem;
}
#note-body #editor > div h1, #note-body #editor > div h2, #note-body #editor > div h3, #note-body #editor > div h4, #note-body #editor > div h5, #note-body #editor > div h6, #note-body #editor > div ul, #note-body #editor > div ol, #note-body #editor > div .ql-checklist, #note-body #editor > div blockquote {
  margin-bottom: 0;
}
#note-body #editor > div .ql-divider {
  margin-bottom: 0;
}
#note-backlinks {
  padding: 1rem;
}
#note-backlinks :last-child {
  margin-bottom: 0;
}
#sidebar {
  position: absolute;
  width: 14.5rem !important;
  z-index: 1000;
  transition: all 0.2s ease-in-out;
  outline: 300rem solid transparent;
}
#sidebar:hover {
  outline: 300rem solid rgba(0, 0, 0, 0.5);
  box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.9);
  left: 0;
}
#sidebar:not(:hover) {
  overflow: hidden;
  left: - 14.5rem;
  border-right: 0.3rem solid #202022;
}
#sidebar-upgrade {
  display: none;
}
#explorer {
  width: 20rem !important;
}
#explorer #explorer-header #explorer-header-sort-menu {
  left: 0 !important;
}
#explorer #explorer-header #explorer-header-actions-menu {
  left: 10rem !important;
}
#explorer #explorer-header #explorer-header-nav-left, #explorer #explorer-header #explorer-header-nav-right {
  width: 2rem !important;
}
#explorer #explorer-header #explorer-header-nav-title {
  width: calc(100% - 4.5rem) !important;
}
#explorer #explorer-header #search-box {
  width: calc(100% - 1rem) !important;
}
#explorer #explorer-resize {
  display: none;
}
#viewer:not(.focused) {
  width: 80vw !important;
  padding-left: 20vw !important;
}
#viewer:not(.focused) #note-body {
  width: auto !important;
}
#viewer:not(.focused) #note-body #editor .ql-editor {
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 0.5rem;
}
#viewer:not(.focused) #note-body #editor-toolbar {
  left: auto !important;
}
[class*="theme-scarlet"] .explorer-note-preview {
  color: #989898;
}
[class*="theme-scarlet"] #note-body #editor code {
  color: tomato;
}
[class*="theme-scarlet"] #note-body #editor p, [class*="theme-scarlet"] #note-body #editor blockquote, [class*="theme-scarlet"] #note-body #editor .ql-checklist {
  color: #989898;
}
[class*="theme-scarlet"] #note-body #editor p b, [class*="theme-scarlet"] #note-body #editor blockquote b, [class*="theme-scarlet"] #note-body #editor .ql-checklist b, [class*="theme-scarlet"] #note-body #editor p strong, [class*="theme-scarlet"] #note-body #editor blockquote strong, [class*="theme-scarlet"] #note-body #editor .ql-checklist strong {
  color: #d9d9d9;
}
[class*="theme-scarlet"] #note-body #editor blockquote {
  color: #bbb;
}
[class*="theme-scarlet"] #note-body #editor > div .ql-divider {
  opacity: 0.7;
}
[class*="-dark"] #note-backlinks {
  color: #979798;
  background: #2D2E3188;
}
[class*="-dark"] #note-backlinks #note-backlinks-title {
  color: #ccc;
}
